<%= stylesheet_link_tag "tickets" %>

<%= render 'layouts/navbar' %>
<div class="container specific-container">

	<div class="col-md-12">
		
		<div class="col-md-12 ts-container">
		<div class="row">

			<div class="col-md-8 ts-margin">
				<div class="col-md-8">
					<div class="ts-title2 t-dark-blue"><%= @ticket.title %></div>
					<div class="t-soft-blue ts-location"><%= @ticket.location %></div> 
				</div>
				<div class="col-md-4 text-right ">
					<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
				</div>
			</div>

			<div class="col-md-4 ts-margin ">

				<div class="btn-group col-md-12 selection-buttons" role="group" aria-label="...">
				  <button id="btn-img" type="button" class="btn btn-default col-md-6">Imagem</button>
				  <button id="btn-map" type="button" class="btn btn-default col-md-6">Mapa</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 ts-image image-container">
				<!--<img id="img1"src="http://img15.deviantart.net/c039/i/2006/100/1/b/hole_in_the_sky_by_streeaker.jpg" alt="" class="img-responsive">-->

				<%= image_tag("tickets/#{@ticket.picture}", class: "img-responsive") %>
			</div>
			<div class="col-md-4 ts-margin">
				<div class="col-md-12 ts-margin">
					<div class="col-md-8 ticket-owner-image">
						<div class="col-md-2 t-nomargin">
							<%= image_tag("users/#{@ticket.user.picture}", class: "img-circle img-responsive") %>
						</div>
						<div class="col-md-10 ticket-owner-name text-left t-dark-blue t-nomargin"><%= @ticket.user.fname %> <%= @ticket.user.lname %></div>
					</div>
					<div class="col-md-4 ticket-date text-right t-dark-blue"><%= @ticket.date %></div>
				</div>

				<div class="col-md-12 ticket-description t-margin">
				<p><%= @ticket.description %></p>
				</div>
				

				<div class="col-md-12 pull-down ticket-validations t-dark t-margin">
					128 validações
				</div>

				<div class="col-md-12 ticket-options t-margin">
					
					<div class="col-md-1 pull-left"> 
						<div class="icon-like-love-streamline"></div>
					</div>

					<div class="col-md-1 pull-right">
						<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>

					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</div>
</div>

